<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <!-- Loop through all posts and display the title, author and published
          date.
          See more: https://docs.djangoproject.com/en/3.2/ref/templates/builtins/#for-empty
      -->

      {% for post in posts %}
          <p> <a href=""> {{ post.title }} </a> </p>
          <p> {{ post.auth }} ({{ post.published_date }})</p>

      {# If there is no post, display the following text #}
      {% empty %}

          <p> Nothing found. Please create some posts first. </p>

      {% endfor %}

  </body>


</html>
